asgiref
colorama
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
env
filelock
MouseInfo
mss
Pillow
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
pypng
PyRect
pyscreenshot
PyScreeze
python-decouple
pytweening
qrcode
sqlparse
typing_extensions
tzdata
virtualenv